 
.review_head {
  margin: 100px  0;
}
.review_head .title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 2px;
}
.review_head .title > span {
  color: var(--span-color);
  letter-spacing: 5px;
  font-weight: 400;
}
.service .review {
  height: 100%;
  overflow: hidden;
}
 
.reviewCard {
  height: 100%;
  width:100%;
  border-radius: 20px;
  cursor: pointer;
  padding: 20px 30px;
  box-shadow: 0 1px 5px 0px rgba(71, 78, 83, 0.219);

}
.reviewCard:hover {
  transition: all 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.445) 0px 10px 20px -15px;
}
.cardHeader,
.cardFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerContent {
  text-align: left;
  padding: 20px;
}
.cardHeader .headerContent .name {
  font-size: 18px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
}
.cardHeader .headerContent .company {
  font-size: 12px;
  font-weight: 700;
  color: var(--span-color);
}
.cardHeader > img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.reviewCard .para {
  text-align: justify;
  font-size: 16px;
  padding: 10px 0;
}
.swiper-container {
  width: 100%;
  background: transparent !important;
  padding-bottom: 50px;
 
}

.swiper-slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  
 
}

 