@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Qahiri&family=Zen+Loop:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&family=Unbounded:wght@200;400;500;600;800&display=swap');
.navBar {
  top: 0;
  position: sticky;
  background: #fff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 15%);
  position: fixed !important;
  z-index: 2000 !important;
  transition: 0.5s !important;
}
.navBarChange {
  top: 0;
  position: sticky;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 15%);
  position: fixed !important;
  z-index: 20000 !important;
  background: var(--primary-color);
}
.brand {
  position: absolute;
  left: 30px;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.brand .brandIcon {
  height: 48px;
  width: 48px;
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.brand .brandText {
  color: var(--primary-color);
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 22px;
  font-family: 'Space Grotesk', sans-serif;
  /* font-family: 'Unbounded', cursive; */
  cursor: pointer;
}
.brand .brandIconChange {
  height: 48px;
  width: 48px;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.brand .brandTextChange {
  color: #fff;
  font-weight: 700;
  /* letter-spacing: 4px; */
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif;

  cursor: pointer;
}
.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink {
  color: var(--primary-color) !important;
  padding-left: 20px !important;
  font-weight: 500 !important;
  transition: 0.3s;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none !important;
}

.navLink:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background 0.5s ease;
  background: #fff;
}
.navLink:hover:after {
  width: 100%;
  background: var(--primary-color);
}

.navLinkChange {
  color: #fff;
  padding-left: 20px !important;
  font-weight: 500 !important;
  transition: 0.3s;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none !important;
}
.navLinkChange:hover {
  color: #fff;
}
.navLinkChange:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
  color: #fff !important;
}

.navLinkChange:hover:after {
  width: 100%;
  background: #fff;
}
.userProfile {
  position: absolute;
  right: 0;
  margin: 0 10px;
}
 
.userProfile .avatar {
  margin: 5px;
  font-size: 48px;
  cursor: pointer;
  height: 48px;
  width: 48px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.loginBtn {
  background: var(--span-color);
  border: 1px solid #fff;
  border-radius: 999px;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 8px 15px;
  margin: 20px;
  color: #fff;
}

/* dropdown  */

.dropdown {
  position: absolute;
  top: 80px;
  right: -130px;
  width: 300px;
  transform: translateX(-45%);
  background: #fff;
  border-radius: 0 0 8px 8px;
  padding: 1rem;
  transition: 0.5s all linear;
  z-index: 10000 !important;
  overflow: hidden;
  box-shadow: 0 5px 8px 0px rgba(71, 78, 83, 0.137);
}
/* 
  
  .menu a {
    text-decoration: none;
  } */
.menu {
  width: 100%;
  overflow: hidden;
}

.menu-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background var(--speed);
  padding: 0.5rem;
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: justify;
  transition: all 0.3s linear;
}
.menu-item:hover {
  background: #36335a13;
  color: var(--primary-color);
  transition: all 0.3s linear;
  text-decoration: none;
}
.menu-item .icon-button {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.icon-right {
  margin-left: auto;
}
/* end of dropdown */
.hamburger {
  display: none;
}

@media screen and (max-width: 910px) {
 .brand{
   position: absolute;
   left: 70px;
   top: 20%;
  
 }
  
  .navLinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
  
    top: 81px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navLinks.active {
    background: #fff;
    left: 0%;
    opacity: 1;
    transition: all 1s ease;
    z-index: 1;
    padding: 10px 0;
  }

  .navLink .active {
    color: var(--primary-color);
    border: none;
  }

  .navLink {
    margin: 5px 0;
  
    
  }

  .navLinkChange {
    color: var(--primary-color);
    margin: 5px 0;
  }
  .navLinkChange:hover {
    color: var(--primary-color) !important;
  }

  .navLinkChange:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
    background-color: var(--primary-color) !important;
  }

  .navLinkChange:hover:after {
    width: 100%;
    color: var(--primary-color) !important;
  }
  .dropdown {
    top: 80px;
  }

  .loginBtn {
    font-size: 1rem;
    padding: 8px 20px;
  }
  .hamburger {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    margin: 25px 0 40px 20px;
  }
  .hamburger > .barIcon {
    font-size: 2rem;
    color: var(--primary-color);
  }
  .hamburger > .barIconChange {
    font-size: 1.5rem;
    color: #fff;
  }
}
@media screen and (max-width: 525px) {
 .brand .brandIcon, .brand .brandIconChange{
    
  display: none !important;
 }
 .brandText,.brandTextChange{
  position: absolute;
   left: 0;
  top: 10px;
 }
   
}
 
