.hero {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 80px;
}
.hero::after {
  content: " ";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  background: url("https://i.ibb.co/SwgdfPB/undraw-videographer-nnc7.png");
  background-repeat: no-repeat;
  background-position: cover center;
  -ms-background-size: contain;
  -o-background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}

.hero-content {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  opacity: 1;
  border-radius: 10px;
  top: 100px;
  height: 100%;
  z-index: 10000;
  opacity: 1;
}
.hero-title-span {
  font-size: 40px;
  font-weight: 800;
  /* color: rgb(11, 236, 150); */
  color: var(--span-color);
  letter-spacing: 5px;
  text-transform: uppercase;
}
.hero-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.hero-words {
  font-size: 18px;
  line-height: 1;
  color: var(--primary-color);
  line-height: 1.5;

  text-align: justify;
}
.hero-btn {
  background: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 0.3em;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 24px;
  background: var(--primary-color);
  color: #fff;
}
.marqueeText{
  margin-top: 50px;
}
@media (max-width: 768px) {
  .hero {
    height: 100%;
  }
  .hero-content {
    top: 0;
  }
  .hero-title-span {
    font-size: 24px;
  }
  .hero-title {
    text-align: justify;
    font-size: 18px;
  }
  .hero-words {
    text-align: justify;
    font-size: 16px;
  }
  .marqueeText{
    margin-top: -120px;
  }
}
