.scrollBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    z-index: 112;
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    /* background: transparent; */
    color: var(--primary-color);
    border-radius: 9px;
    border: 1px solid #fff;
    transition: 0.6s;
    border: 1px solid var(--primary-color);
    box-shadow: 0 2px 15px rgb(88 69 206 / 70%);
}
.scrollBtn:hover {
    transition: 0.6s;
    background-color: var(--span-color);
    color: #fff;
}