.faqCard {
  background: var(--span-color);
  color: #fff;
  width: 100%;
}
.faqHeader {
  border: none;
  text-align: justify;
}
.faqDesc {
  background: #fff;
  color: var(--span-color);
  border-top: 1px solid #fff;
}

@media screen and (max-width: 525px) {
  .faqHeader {
    text-align: left;
  }

  .faqDesc {
    text-align: left;
  }
}
